/* src/components/MovieRow.css */
.movieRow {
    margin-left: 20px;
    color: white;
  }
  
  .movieRow__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .movieRow__poster {
    width: 150px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
  }
  
  .movieRow__poster:hover {
    transform: scale(1.08);
  }
  